{{define "project-card.html"}}
<section id="projects" class="bg-gray-2 pt-20 pb-10 lg:pt-[120px] lg:pb-20">
  <div class="container mx-auto">
    <div class="flex flex-wrap -mx-4">
      <!-- card start -->
      {{range .}}
      <div class="w-full px-4 md:w-1/2 xl:w-1/3">
        <div class="mb-10 overflow-hidden duration-300 bg-white rounded-lg shadow-1">
          <img src="{{.img}}" alt="image"/>
          <div class="p-8 text-center sm:p-9 md:p-7 xl:p-9">
            <h3>
              <a href="{{.link}}" class="hover:text-primary mb-4 block text-xl font-semibold sm:text-[22px] md:text-xl lg:text-[22px] xl:text-xl 2xl:text-[22px]">{{.title}}</a>
            </h3>
            <p class="text-base leading-relaxed text-body-color">{{.description}}</p>
            <p class="text-base leading-relaxed text-body-color mb-7">{{.technologies}}</p>
            <a href="{{.link}}" target="_blank">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Demó</button></a>
            <a href="{{.github}}" target="_blank">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Github</button>
            </a>
          </div>
        </div>
      </div>
      {{end}}
      <!-- card end -->
    </div>
  </div>
</section>
{{end}}
