{{define "story.html"}}
<section id="story" class="text-gray-600 body-font pt-24">
  <div class="container mx-auto flex px-5 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-full lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="sm:text-2xl text-2xl mb-4 font-medium text-gray-900">Hogyan/miért kezdtem neki a programozás tanulásnak?</h1>
      <p class="mb-4 leading-relaxed">
        2021 elején meg ismerkedtem a blockchain technológiával, amit érdeklődve tanulmányoztam hónapokon keresztül.
      </p>
      <p class="mb-4 leading-relaxed">
        2022 év végén próbáltam egy Cardano blockchain wallet connectort készíteni. Ezzel egy hónapon keresztül foglalkoztam különböző fórumokat, dokumentációkat olvasva, nem túl nagy sikerrel. 
        Ahogy tanulmányoztam a JavaScriptet és a böngészős környezetet, össze futottam az Udemy nevű platformmal, ahol be is fizettem egy <a class='underline hover:text-blue-600' target='_blank' href="https://www.udemy.com/course/learn-javascript-full-stack-from-scratch/">Fullstack JavaScript kurzus</a>ra. 
        A kurzus elvégzése után már sikerült elérni az eredeti célomat.
      </p>
      <p class="mb-4 leading-relaxed">
        2023. január közepén telefonon meg kerestek az IEC International Education Center Kft.-től hogy érdekelne-e programozó képzés. 
        Márciusban elkezdtem a <a class='underline hover:text-blue-600' target='_blank' href="https://www.iecinfo.hu/kepzeseink/junior-fullstack-api-fejleszto.html">Junior Fullstack API fejlesztő</a> képzésüket, ahol a fő témák a Php, JavaScript, SQL, REST API voltak.
      </p>
      <p class="mb-4 leading-relaxed">
        2023. április közepén felmerült az igény a Hódmezővásárhelyi kórházban, egy elektronikus jogosultság igénylő rendszerre. 
        A cégünk meg vizsgálta az elérhető lehetőségeket, de egyik sem volt a célnak megfelelő. 
        Ekkor megragadtam a lehetőséget, és fel ajánlottam, hogy készítek nekik egyet.<br/>
        Használt technológiák: NodeJS, EJS, MongoDB, CSS
      </p>
      <p class="mb-4 leading-relaxed">
        Nagyon gyorsan meg változott az igény amikor látták, hogy egyedi igényeket meg tudok valósítani. 
        Ennek következtében előjött sok hiba, a kód szerkezetben, projekt felépítésében ami miatt nem volt könnyen bővíthető új funkciókkal. 
        Egyszerűbb volt átgondoltabban, nulláról újra kezdeni. 
        Eközben megismerkedtem a különböző JavaScript frontend library-kal, és elkezdtem ReactJS-t tanulni.
      </p>
      <p class="mb-4 leading-relaxed">
        2023. június elején nekifogtam ReactJS-t használva újra írni a jogosultság igénylőt, az új igényeket szemmel tartva, és igyekeztem karbantartható kódot készíteni.<br/>
        <a class='underline hover:text-blue-600' target='_blank' href="https://github.com/Dazannah/felgasznaloigenyles-react-frontend">Frontend repository</a>
        <a class='underline hover:text-blue-600' target='_blank' href="https://github.com/Dazannah/felgasznaloigenyles-react-backend-api">Backend repository</a>
      </p>
      <p class="mb-4 leading-relaxed">
        Ekkor még nem igazán akart össze állni, hogy hogyan is kellene strukturálni a backendet. 
        Ezért augusztus elején elkezdtem C#-ot tanulmányozni. 
        Az IEC-es oktató eléggé sokat példálózott C#-al, és ezekből azt szűrtem le, hogy eléggé szigorúan OOP nyelv. 
        Segített is megértenem az OOP alapjait. Ezután foglalkoztam vele pár hónapon keresztül. Ezek alapján folyattam a jogosultság igénylő fejlesztését.
      </p>
      <p class="mb-4 leading-relaxed">
        2023 év végén és 2024 elején kíváncsiságból kipróbáltam több programozási nyelvet: Golang, Python, Rust.
      </p>
      <p class="mb-4 leading-relaxed">
        Az IEC képzésen 2024. április elején elkezdtünk a portfólió munkával foglalkozni. 
        Mivel Yii2-t tanultuk, praktikusan Php frameworkel kellett elkészíteni. 
        Én a Laravel-t választottam keretrendszernek, és egy időpont foglaló rendszert készítettem.<br/>
        Használt technológiák: Laravel, Blade, Tailwind CSS, MySQL<br/>
        <a class='underline hover:text-blue-600' target='_blank' href="https://github.com/Dazannah/appointment">Repository </a>
        <a class='underline hover:text-blue-600' target='_blank' href="https://appointment.davidfabian.hu/">Demó</a> 
      </p>
      <p class="mb-4 leading-relaxed">
        Jelenlegi projektem, a kórházas jogosultság igénylő alapján egy általánosabb, konfigurálható verzió elkészítése, Laravel, Blade, Livewire és MySQL-el.<br/>
        <a class='underline hover:text-blue-600' target='_blank' href="https://github.com/Dazannah/usermanager">Repository</a>
      </p>
      <p class="mb-8 leading-relaxed">
        Eközben C++, és a „Design Patters Elemets of Reusable Object-Oriented Software” könyv tanulmányozásával foglalkozok.
      </p>
    </div>
  </div>
</section>
{{end}}